.answerBox{
	color:red;
	border-color:white;
	text-align: center;

}

.form{
color: red;
background-color:black;
text-align:center;
border-color: white;
font-size: 35px;
}

.result{
	font-size: 35px;
	text-align: center;
	color: red;

}


.title{
	color: blue;
	text-align: center;
	font-size: 75px;
}

.youtube{
	text-align: center;
	color: green;
	font-size: 40px;
	text-decoration: underline;
}


.disclaimer{
	color: red;
	font-size: 15px;
	text-align: right;
}

.footer1{
  text-align: center;
  list-style-type: none;
  text-decoration:none;
}
.footer{
  background-color: black;
  list-style-type: none;
  width: 100%;
  text-align: center;
  text-decoration:none;
