html, body {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #000;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 1em;
  padding: 0px;
  margin: 0px;
  font-weight: normal;
}

.headnfoot {
  background-color: #333333;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
}

 .foot {
  position: fixed;
  bottom: 0;
  width: 100%;
}


.circles {
  background-color: #f94541;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 10px 10px;
}

#login {
  position: absolute;
  margin: auto;
  max-width: 50%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
}

#outside {
 color: #f94541;
 font-size: 2.2em;
 margin-bottom: -9px;
}

#inside {
  width: 70%;
  height: 180px;
  max-width: 600px;
  min-width: 350px;
  background-color: #333333;
  border-radius: 15px;
}

input {
  background-color: transparent;
  border-color: transparent;
  font-size: 1em
}

#email {
  margin-top: 55px;
}

hr {
  width: 180px;
}

button {
  background-color: #f94541;
  border-radius: 2px;
  border-style: none;
  padding: 10px 50px;
  color: white;
  margin-top: 5px;
}

@media screen and (max-width: 450px) {
  #outside {
    font-size: 1.8em;
    margin-bottom: -6px;
  }
}
