body {
  text-align: center;
  font-family: verdana;
}

a {
  display: block;
  color: black;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  transition: .3s;
}

a:hover {
  background-color: #000000;
  color: white;
}
