/* Layout */

body {
  background: url("../photos/bg-pattern.png"), #7b4397;
  /* fallback for old browsers */
  background: url("../photos/bg-pattern.png"), -webkit-linear-gradient(to left, #666666, #45B649);
  /* Chrome 10-25, Safari 5.1-6 */
  background: url("../photos/bg-pattern.png"), linear-gradient(to left, #666666, #45B649);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#mainheader {
  text-align: center;
  font-family: 'El Messiri', sans-serif;
  font-size: 50px;
  text-shadow: 1px 1px 1px white;
}

.main {
    display: flex;
    padding: 2em;
    height: 90vh;
    justify-content: center;
    align-items: middle;
}

.clockbox,
#clock {
    width: 100%;
}

/* Clock styles */
.circle {
    fill: white;
    stroke: #000;
    stroke-width: 9;
    stroke-miterlimit: 10;
}

.mid-circle {
    fill: #000;
}
.hour-marks {
    fill: none;
    stroke: #000;
    stroke-width: 9;
    stroke-miterlimit: 10;
}

.hour-arm {
    fill: none;
    stroke: #000;
    stroke-width: 17;
    stroke-miterlimit: 10;
}

.minute-arm {
    fill: none;
    stroke: #000;
    stroke-width: 11;
    stroke-miterlimit: 10;
}

.second-arm {
    fill: none;
    stroke: #000;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

/* Transparent box ensuring arms center properly. */
.sizing-box {
    fill: none;
}

/* Make all arms rotate around the same center point. */
/* Optional: Use transition for animation. */
#hour,
#minute,
#second {
    transform-origin: 300px 300px;
/*    transition: transform .5s ease-in-out; */
}

/* WEATHER */
#weather {
  margin: auto;
  background-color: white;
  width: 90%;
  text-align: center;
  font-family: 'El Messiri', sans-serif;
  font-size: 35px;
  text-shadow: 2px 2px 5px #999999;
}

@media only screen and (max-width: 500px)  {
  #weather {
    font-size: 20px;
  }
  #mainheader {
    text-shadow: 0px 0px 5px white;
  }
}
