.heada {
  text-align: center;

}

.container1 {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.container1A {
 width: 250px;
 text-align: center;
 margin: 5px 5px;
 background-color: yellow;
 padding: 25px 0px;
}

.container1A:hover {
  margin-right: 300px;
  transition: .5s;
}

.container1B {
 width: 250px;
 text-align: center;
 margin: 5px 5px;
 background-color: yellow;
 padding: 25px 0px;
}

.container2 {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.container2A {
  width: 250px;
  text-align: center;
  margin: 5px 5px;
  background-color: yellow;
  padding: 25px 0px;
}

.container2B {
  width: 250px;
  text-align: center;
  margin: 5px 5px;
  background-color: yellow;
  padding: 25px 0px;
}
