.heada {
  text-align: center;

}

.container1 {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.container1A {
 width: 250px;
 text-align: center;
 margin-top: 50px;
}

.container2 {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.container2A {
  width: 250px;
  text-align: center;
  margin-top: 100px;
}
